
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

html {
    font-size: 10px;
}

body {
    font-family: ikkeullim;
}

input,
label,
select,
textarea {
    font-family: ikkeullim;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}