

main {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

*{
    color: #1A1B23;
}

body {
    background-color: #F5F5F5;
    ;
}

.container>ul:nth-of-type(1),
input {
    border: 1px solid #1A1B23
}

/*---------------컨테이너 중앙, 균등 ---------------*/
main::after,
main::before {
    content: " ";
    display: block;
    flex-grow: 1;
    height: 1em;
    width: 100%;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------개별 요소들--------------------- */
.container {
    width: 400px;
    height: 721px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #F7F7FB;
    box-shadow: 0px 2px 50px rgba(80, 93, 208, 0.4);
    border-radius: 5px;
}

.innerContainer{
    padding:54px 40px 0;
    width: 400px;
}

.head>a {
    display: block;
    height: 70px;
    width: 200px;
    margin: 0px 60px 50px;
    text-indent: -9999em;
    background: url(../images/icon/logo.png) no-repeat center top/contain;
}

ul {
    list-style-type: none;
}

.head>ul,
.head>ul li,
.head>ul li a {
    height: 25px;
}
.head>ul {
    display: flex;
    justify-content: stretch;
    width: 320px;
    list-style-type: none;
}

.head>ul>li {
    width: 160px;
    text-align: center;
}

.head>ul li a {
    margin:0 auto ;
}

.head>ul li:first-of-type a {
    border-bottom:#505DD0 solid 1px ;
    padding-bottom: 8px;
    color:  #505DD0;
    cursor: pointer;
    line-height: 14px;
    font-weight: 700;
}
/* ============================================= */
.body,
main form {
    display: flex;
    flex-direction: column;
}

main form {
    margin-top: 30px;   
}
main form select,
main form input {
    border: 1px solid #1A1B23;
    text-indent: 12px;
}

main input,
main button {
    height: 36px;
}

main form p{
    margin-bottom: 7px;
    line-height: 14px;
    font-weight: 700;
}

main form select,
main form>input,
main form div>input,
button{
    outline: 0;
}

main form>input {
    width: 100%;
}

span{
    color: #FF655B;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin:2px 0 16px;
}

.hidden{
    visibility: hidden;
}

.nonDisplay{
    display: none;
}

main form div {
    align-self: flex-start;
}

main form div>input {
    width: 82px;
    /* margin: 0 10px; */
}

/* main form div>input:first-of-type {
    margin: 0;
    margin-right: 10px;
}

main form div>input:last-of-type {
    margin-right: 0;
} */
main .fiPhone,
main .emailInput{
    width: 320px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    line-height: 36px;
}

main .emailInput #fiEmail{
    width: 130px;
    outline: none;
}
main .emailInput option {
    border-radius: 0%;
}
main .emailInput .fpInput{
    width: 160px;
    border: 1px s #1A1B23 ;
}

.redInputBox{
    border: 1px solid #FF655B;
}

main button {
    width: 100%;
    height: 36px;
    border: 0;
    background-color: #9497AB;
    color: white;
}

.body>a{
    margin-top: 16px;
    text-align: center;
    color: #9497AB;
    text-decoration: underline;
}

.buttonLogin{
    background-color: #1A1B23;
}
/* =============================================================================================== */
/* =============================================================================================== */
/* =============================================================================================== */
/* =============================================================================================== */
/* =============================================================================================== */
/* =============================================================================================== */